.navbar-notoggle {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -webkit-flex-wrap: nowrap;
    -ms-flex-direction: row;
    -ms-flex-wrap: nowrap;
    -ms-flex-align: center;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.navbar-notoggle .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -webkit-flex-wrap: wrap;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    -ms-flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.navbar-notoggle .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
}

.bg-white {
  background-color: #FFFFFF;
}

.bg-gold {
  background-color: #BD8D46;
}

.sticky-base {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.sticky-footer {
  flex: 1;
}
