.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

.bg-white {
  background-color: #FFFFFF;
}

.bg-gold {
  background-color: #BD8D46;
}