<title>MAYA Foundation</title>
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
<link rel="manifest" href="/manifest.json">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#bd8d46">
<meta name="apple-mobile-web-app-title" content="MAYA Foundation">
<meta name="application-name" content="MAYA Foundation">
<meta name="theme-color" content="#ffffff">
<link rel="image_src" href="/media/share-social.png" / >
<meta name="description" content="We provide students from various backgrounds the opportunity to achieve their goals." />
<meta property="og:title" content="MAYA Foundation" />
<meta property="og:type" content="article" />
<meta property="og:image" content="http://maya.foundation/media/share-social.png" />
<meta property="og:url" content="http://maya.foundation" />
<meta property="og:description" content="We provide students from various backgrounds the opportunity to achieve their goals." />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="MAYA Foundation" />
<meta name="twitter:site" content="@mayagives">
<meta name="twitter:creator" content="@hornetbrittany">
<meta name="twitter:description" content="We provide students from various backgrounds the opportunity to achieve their goals." />
<meta name="twitter:image" content="http://maya.foundation/media/share-social.png" />